![ngo_project_image](ngo_project_image.jpg)

GoodThought NGO has been a catalyst for positive change, focusing its efforts on education, healthcare, and sustainable development to make a significant difference in communities worldwide. With this mission, GoodThought has orchestrated an array of assignments aimed at uplifting underprivileged populations and fostering long-term growth.

This project offers a hands-on opportunity to explore how data-driven insights can direct and enhance these humanitarian efforts. In this project, you'll engage with the GoodThought PostgreSQL database, which encapsulates detailed records of assignments, funding, impacts, and donor activities from 2010 to 2023. This comprehensive dataset includes:

- **`Assignments`:** Details about each project, including its name, duration (start and end dates), budget, geographical region, and the impact score.
- **`Donations`:** Records of financial contributions, linked to specific donors and assignments, highlighting how financial support is allocated and utilized.
- **`Donors`:** Information on individuals and organizations that fund GoodThoughtâ€™s projects, including donor types.

Refer to the below ERD diagram for a visual representation of the relationships between these data tables:
<img src="erd.png" alt="ERD" width="50%" height="50%">

You will execute SQL queries to answer two questions, as listed in the instructions. Good luck!

Write two SQL queries to answer the following questions:
- List the top five assignments based on total value of donations, categorized by donor type. The output should include four columns: 1) assignment_name, 2) region, 3) rounded_total_donation_amount rounded to two decimal places, and 4) donor_type, sorted by rounded_total_donation_amount in descending order. Save the result as highest_donation_assignments.
- Identify the assignment with the highest impact score in each region, ensuring that each listed assignment has received at least one donation. The output should include four columns: 1) assignment_name, 2) region, 3) impact_score, and 4) num_total_donations, sorted by region in ascending order. Include only the highest-scoring assignment per region, avoiding duplicates within the same region. Save the result as top_regional_impact_assignments.

In [2]:
-- highest_donation_assignments
WITH donations_info AS (
	SELECT
		donations.assignment_id,
		ROUND(SUM(donations.amount), 2) AS rounded_total_donation_amount,
		donors.donor_type
	FROM 
		donations
	JOIN 
		donors ON donations.donor_id = donors.donor_id
	GROUP BY 
		donations.assignment_id, donors.donor_type
)

SELECT 
	assignments.assignment_name,
	assignments.region,
	di.rounded_total_donation_amount,
	di.donor_type
FROM
	assignments
JOIN
	donations_info di ON assignments.assignment_id = di.assignment_id
ORDER BY di.rounded_total_donation_amount DESC
LIMIT 5;

   assignment_name region  rounded_total_donation_amount    donor_type
0  Assignment_3033   East                        3840.66    Individual
1   Assignment_300   West                        3133.98  Organization
2  Assignment_4114  North                        2778.57  Organization
3  Assignment_1765   West                        2626.98  Organization
4   Assignment_268   East                        2488.69    Individual

In [3]:
-- top_regional_impact_assignments
WITH total_donations AS (
	SELECT 
		assignment_id,
		COUNT(donation_id) AS num_total_donations
	FROM
		donations
	GROUP BY assignment_id
),
assignments_per_region AS (
	SELECT 
		assignment_name,
		region,
		impact_score,
		total_donations.num_total_donations,
		ROW_NUMBER() OVER (PARTITION BY region ORDER BY impact_score DESC) AS rank_in_region
	FROM
		assignments
	JOIN
		total_donations ON assignments.assignment_id = total_donations.assignment_id
	WHERE
        total_donations.num_total_donations > 0
)

SELECT
    assignment_name,
    region,
    impact_score,
    num_total_donations
FROM
    assignments_per_region
WHERE
    rank_in_region = 1
ORDER BY
    region ASC;

   assignment_name region  impact_score  num_total_donations
0   Assignment_316   East         10.00                    2
1  Assignment_2253  North          9.99                    1
2  Assignment_3547  South         10.00                    1
3  Assignment_2794   West          9.99                    2